# macOS
.DS_Store

# SAM build artifacts
.aws-sam/
packaged.yaml
packaged-template.yaml

# Local env and secrets
env.json
.env
.env.*

# Python caches and tooling
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.python-version

# Virtual environments
venv/
.venv/
env/
*.venv
*venv

# IDE/project settings
.vscode/
.idea/

# Node (if present)
node_modules/
dist/
sam-app/README.md
sam-app/samconfig.toml
