# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure

# Include security templates
include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

# Defined stages
# Jobs run in the order defined here
stages:
- secret-detection
- test
- sam_validate # Validate SAM using sam validate --lint
- sam_build # Build SAM using sam build
- sam_deploy # Deploy SAM using sam deploy

# PYTHON TEST JOB
python_tests:
  stage: test
  image: python:3.12
  script:
    - pip install -r sam-app/src/requirements.txt
    - |
      if pytest sam-app/tests/; then
        echo "✅ All tests passed."
      else
        echo "❌ Some tests failed."
        exit 1
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request"
    - if: $CI_COMMIT_BRANCH == "main"
      when: always

# SAM VALIDATE JOB
sam_validate:
  stage: sam_validate
  image: python:3.12
  script:
    - pip install --no-cache-dir aws-sam-cli
    - |
      if sam validate --lint; then
        echo "✅ SAM template is valid."
      else
        echo "❌ SAM template validation failed."
        exit 1
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request"
    - if: $CI_COMMIT_BRANCH == "main"
      when: always

# SAM BUILD JOB
sam_build:
  stage: sam_build
  image: python:3.12
  script:
    - pip install --no-cache-dir aws-sam-cli
    - |
      if sam build; then
        echo "✅ SAM build succeeded."
      else
        echo "❌ SAM build failed."
        exit 1
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request"
    - if: $CI_COMMIT_BRANCH == "main"
      when: always

# SAM DEPLOY JOB
sam_deploy:
  stage: sam_deploy
  image: python:3.12
  script:
    - pip install --no-cache-dir aws-sam-cli awscli
    - |
      if sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --stack-name $STACK_NAME --capabilities CAPABILITY_IAM --region $AWS_DEFAULT_REGION; then
        echo "✅ SAM deploy succeeded."
      else
        echo "❌ SAM deploy failed."
        exit 1
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: always





